.App {
  text-align: center;
  color: orange;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body1 {background-color: #dad9ee;
}

.div1 {background-color: #73baf8;
    width: 1800px;
  height: 100px;
  text-align:center;
}

.div2{background-color: #fb6b74;}

.div3{background-color: #953f45;}

.div3{background-color: #883a3f;}

.button1{
        box-shadow:inset 0px 1px 0px 0px #a6827e;
        background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
        background-color:#7d5d3b;
        border-radius:3px;
        border:1px solid #54381e;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #4d3534;
    }
    .button1:hover {
        background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
        background-color:#634b30;
    }
    .button1:active {
        position:relative;
        top:1px;
    }

